$accent: rgb(42, 207, 207);
$gray: rgb(191, 191, 191);
$error: rgb(244, 98, 98);
$mainText: rgb(158, 154, 167);
$headerText: rgb(53, 50, 62);
$mainBg: rgb(240, 240, 245);
$footerBg: rgb(35, 33, 39);
$iconBg: rgb(59, 48, 84);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}